<div class="hidden md:flex md:flex-row md:justify-center xl:hidden">
    <img src="/Proyecto-10-Personal-Portfolio-2/public/assets/image.png" alt="Imagen de Natalie Sihombing">
</div>

<section class="flex flex-col items-center mx-10 md:mx-0 md:flex md:flex-row md:justify-between mt-10 animate-fade-in-up">
    <div class="flex flex-col items-center md:flex md:flex-col md:items-start max-w-[350px] md:max-w-[250px] md:ml-20">
        <div class="flex flex-col md:hidden">
            <img src="/Proyecto-10-Personal-Portfolio-2/public/assets/image.png" alt="Imagen de Natalie Sihombing">
        </div>
        <h2 class="font-oswald font-bold text-[32px] text-principal">Service</h2>
        <article class="mt-10 flex flex-col items-center md:items-start">
            <div class="flex flex-col flex-nowrap items-center md:flex md:flex-row md:flex-nowrap md:items-center gap-x-5">
                <img src="/Proyecto-10-Personal-Portfolio-2/public/assets/web.svg" alt="Icono de web">
                <h3 class="font-oswald font-bold text-[18px] text-principal">Web Development</h3>
            </div>
            <p class="mt-6 font-quattrocento text-secundario text-[16px]">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </article>
        <article class="mt-10 flex flex-col items-center md:items-start">
            <div class="flex flex-col flex-nowrap items-center md:flex md:flex-row md:flex-nowrap md:items-center gap-x-5">
                <img src="/Proyecto-10-Personal-Portfolio-2/public/assets/ux.svg" alt="Icono de UI/UX">
                <h3 class="font-oswald font-bold text-[18px] text-principal">UI/UX Design</h3>
            </div>
            <p class="mt-6 font-quattrocento text-secundario text-[16px]">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </article>
        <article class="mt-10 flex flex-col items-center mb-5 md:items-start">
            <div class=" flex flex-col flex-nowrap items-center md:flex md:flex-row md:flex-nowrap md:items-center gap-x-5">
                <img src="/Proyecto-10-Personal-Portfolio-2/public/assets/consulting.svg" alt="Icono de consulting">
                <h3 class="font-oswald font-bold text-[18px] text-principal">Web Consulting</h3>
            </div>
            <p class="mt-6 font-quattrocento text-secundario text-[16px]">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </article>
    </div>

    <div class="hidden md:hidden xl:flex">
        <img src="/Proyecto-10-Personal-Portfolio-2/public/assets/image.png" alt="Imagen de Natalie Sihombing">
    </div>

    <div class=" flex flex-col mb-5 items-center md:flex md:flex-col md:mr-24 max-w-[335px] md:max-w-[250px]">
        <h2 class="font-oswald font-bold text-[32px] text-principal mb-5">Web Specialist based in Jakarta</h2>
        <article class="mb-10 flex flex-col items-center md:items-start">
            <p class="mb-5 font-quattrocento text-secundario">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor excepturi at modi illo praesentium magnam distinctio sapiente atque 
            </p>
            <p class="mb-10 font-quattrocento text-secundario"> Nesciunt sapiente adipisci molestias. Cupiditate neque deserunt dignissimos. Atque provident omnis totam! Ipsam perferendis sit 
            </p>     
            <button class="py-5 px-12 bg-principal font-quattrocento text-white hover:bg-principalhover transition-colors duration-300 text-[18px]">Hire me</button>    
        </article>
        
        <div class="hidden md:hidden xl:flex xl:flex-row xl:justify-between gap-x-7 mt-5">
            <article class="mb-5 whitespace-nowrap">
                <h3 class="font-bold text-[32px] text-principal font-oswald">13 Years</h3>
                <p class="text-[18px] font-oswald text-secundario">Experience</p>
            </article>
            <article class="mb-5">
                <h3 class="font-bold text-[32px] text-principal font-oswald">256+</h3>
                <p class="text-[18px] font-oswald text-secundario">Clients</p>
            </article>
            <article class="mb-5">
                <h3 class="font-bold text-[32px] text-principal font-oswald">99.8%</h3>
                <p class="text-[18px] font-oswald text-secundario">Satisfaction</p>
            </article>
        </div>
        
    </div>
</section>

<div class="flex flex-row justify-around mx-5 mt-5 xl:hidden">
    <article class="mb-5 whitespace-nowrap">
        <h3 class="font-bold text-[32px] text-principal font-oswald">13 Years</h3>
        <p class="text-[18px] font-oswald text-secundario">Experience</p>
    </article>
    <article class="mb-5">
        <h3 class="font-bold text-[32px] text-principal font-oswald">256+</h3>
        <p class="text-[18px] font-oswald text-secundario">Clients</p>
    </article>
    <article class="mb-5">
        <h3 class="font-bold text-[32px] text-principal font-oswald">99.8%</h3>
        <p class="text-[18px] font-oswald text-secundario">Satisfaction</p>
    </article>
</div>