<div class="flex justify-center items-center mt-20 animate-fade-in-up mx-2">
    <h1 class="font-oswald font-bold text-[55px] md:text-[96px] text-principal text-center"><span class="underline decoration-xl decoration-barra underline-offset-8">Nat</span>alie Sihombing</h1>
</div>